<template name="index">
  {{#contentFor "headerButtonLeft"}}
      <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        {{> ionIcon icon='navicon'}}
      </button>
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
      <h1 class="title">fincommend</h1>
  {{/contentFor}}
  {{#ionView}}
      {{#ionSubheaderBar}}
          <h2 class="title">Budget {{actualTime}}:00min</h2>
      {{/ionSubheaderBar}}
    {{#ionContent}}
          {{#ionList}}
              {{#each recommends}}
                  {{#ionItem class="item newsitem"  iconRight=false}}
                      <div class="row nomarg lighttext">
                          <div class="col col-20" style="text-align: left; color: #EFC94C;">{{formatNumber score}}
                          </div>
                          <div class="col" style="text-align: left; ">14.06.15
                          </div>
                          <div class="col col-30" style="text-align: right;">
                              fincommend
                          </div>
                          <div class="col  col-10 plus" style="text-align: center; color: white; font-size: 20px;">
                              {{> ionIcon icon='plus'}}
                          </div>
                          <div class="col  col-10 minus" style="text-align: center; color: white; font-size: 20px;">
                              {{> ionIcon icon='minus'}}
                          </div>
                      </div>
                      <div class="row nomarg">
                          <div class="col col-10 padding checked" style="margin-right: 5px; text-decoration: none;">
                              {{#if read}}
                                  <i class="icon ion-checkmark-circled" style="color: #ffbf00; font-size: 32px; text-decoration: none;"></i>
                              {{else}}
                                  <i class="icon ion-checkmark-circled" style="color: #2a576e; font-size: 32px; text-decoration: none;"></i>
                              {{/if}}
                          </div>
                          <div class="col col-70" style="text-align: left">
                              <a href="infodetails" style="text-decoration: none;">
                                  <h2 style="color: #f8f8f8;">Buy {{instrument.name}}</h2>
                                  <p style="color: #8c8c9e; font-size: 10px;">{{formatChannel source}}</p>
                              </a>
                          </div>
                          <div class="col col-20" style="text-align: left">
                              <a href="infodetails" style="text-decoration: none; text-align: right;">
                                  <h2 style="color: #f8f8f8;">{{formatNumber instrument.price}}€ </h2>
                              </a>
                          </div>

                      </div>
                  {{/ionItem}}
              {{/each}}



          {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
